* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #344a72;
  line-height: 1.8;
}

a {
  color: blue;
  text-decoration: none;
}

#container {
  position: relative;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

.form-wrap {
  background-color: #ffff;
  padding: 15px 25px;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-wrap .form-group {
  margin-top: 15px;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.form-wrap button {
  display: block;
  background-color: #49c1a2;
  color: #ffff;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #49c1a2;
  border-radius: 3%;
  cursor: pointer;
}

.form-wrap button:hover {
  background-color: #37a08e;
}

.form-wrap .bottom-text {
  font-size: 13px;
  margin-top: 20px;
}

footer {
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

footer a {
color: #49c1a2;
}